@model PersonalFinanceAppWeb.Models.Investments

@{
    ViewData["PageTitle"] = Model.InvestmentId==0?"Create a new Asset":"Edit Existing Asset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5"  style="background-color:#212b36">
            <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="InvestmentId" value="@Model.InvestmentId" />
            
            
            

            <div class="mb-3">
                <ejs-dropdownlist id="ddlAsset" ejs-for="AssetID" dataSource="@ViewBag.Assets" placeholder="Asset" floatLabelType="Always" allowFiltering="true" ignoreAccent="true" filterType="Contains"> 
                    <e-dropdownlist-fields value="AssetID" text="AssetName"></e-dropdownlist-fields>
                </ejs-dropdownlist>
                <span asp-validation-for="AssetID" class="text-danger fs-6"></span>
            </div>
            <div class="mb-3">
                <ejs-numerictextbox id="investmentpermonth" ejs-for="InvestmentAmountPerMonth" placeholder="Investment Amount Per Month" floatLabelType="Always" min=0 format="₹0" Type="text"></ejs-numerictextbox>
                <span asp-validation-for="InvestmentAmountPerMonth" class="text-danger fs-6"></span>
            </div>
            
            
            <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
        </form>
        </div>
        
    </div>

    <div class="col-md-5">
            <div class="widget h-100 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
            </div>
     </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
